<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vice versa</title>
</head>
<body>
<h1>Vice Versa</h1>

<form action="{% url 'reverse' %}">
  <textarea name="usertext" rows="10" cols="50"></textarea>
  <br><br>
  <input type="submit" value="Reverse!">
</form>
</body>
</html>