<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Original text has {{ user_text_count }} words: {{ user_text }}</h2>
    <h2>Reversed text: {{ reversed_text }}</h2>
    <a href="{% url 'home' %}">Go back.</a>
</body>
</html>